<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>学生添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/js/xcity.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" th:each="examination : ${examination}">
            <input type="hidden" name="id" lay-verify="required"
                   autocomplete="off" class="layui-input" th:value="${examination.id}" readonly>
            <div class="layui-form-item">
                <label class="layui-form-label">学号</label>
                <div class="layui-input-inline">
                    <input type="text" name="stu_id" lay-verify="required"
                           autocomplete="off" class="layui-input" th:value="${examination.stu_id}" readonly>
                </div>

                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" lay-verify="required"
                           autocomplete="off" class="layui-input" th:value="${examination.name}" readonly>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">身高</label>
                <div class="layui-input-inline">
                    <input type="text" name="height" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.height}">
                </div>
                <label class="layui-form-label">体重</label>
                <div class="layui-input-inline">
                    <input type="text" name="weight" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.weight}">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">嗅觉</label>
                <div class="layui-input-inline">
                    <input type="text" name="nose" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.nose}">
                </div>
                <label class="layui-form-label">鼻窦疾病</label>
                <div class="layui-input-inline">
                    <input type="text" name="noseDiseases" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.noseDiseases}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">门齿</label>
                <div class="layui-input-inline">
                    <input type="text" name="tooth" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.tooth}">
                </div>
                <label class="layui-form-label">口吃</label>
                <div class="layui-input-inline">
                    <input type="text" name="stuttering" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.stuttering}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">血压</label>
                <div class="layui-input-inline">
                    <input type="text" name="bloodPressure" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.bloodPressure}">
                </div>
                <label class="layui-form-label">心率</label>
                <div class="layui-input-inline">
                    <input type="text" name="heartRate" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.heartRate}">
                </div>


            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">左眼视力</label>
                <div class="layui-input-inline">
                    <input type="text" name="eyeLeft" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.eyeLeft}">
                </div>
                <label class="layui-form-label">右眼视力</label>
                <div class="layui-input-inline">
                    <input type="text" name="eyeRight" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.eyeRight}">
                </div>

            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">有无眼疾</label>
                <div class="layui-input-inline">
                    <input type="text" name="eyeDiseases" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.eyeDiseases}">
                </div>
                <label class="layui-form-label">肝功能</label>
                <div class="layui-input-inline">
                    <input type="text" name="liver" lay-verify="required" lay-reqtext="必填项不能为空" readonly
                           autocomplete="off" class="layui-input" th:value="${examination.liver}">
                </div>
            </div>

        </form>
    </div>
</div>
</body>

</html>